.slick-slider {
  margin: 10rem auto 0;
}

.slick-slider .slick-dots li button::before {
  color: #fff;
}

.slick-slider .slick-dots li.slick-active button::before {
  color: #fff;
}

.slick-slider .slide img {
  width: 35rem;
  height: 26rem;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
}

.slick-slider .slide {
  text-decoration: none;
  transform: scale(0.7);
  transition: transform 1000ms;
  opacity: 0.5;
  z-index: -1;
  cursor: auto;
}

.slick-slider .slide:focus-visible {
  outline: none;
}

.slick-slider .activeSlide {
  transform: scale(1);
  align-items: center;
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 1700px) {
  .slick-slider {
    max-width: 1400px;
  }
  .slick-slider .slide img {
    height: 16rem;
    width: 29rem;
  }
}

@media (max-width: 1480px) {
  .slick-slider {
    max-width: 1057px;
  }
  .slick-slider .slide img {
    height: 16rem;
    width: 19rem;
  }
}

@media (max-width: 1150px) {
  .slick-slider {
    max-width: 694px;
  }
  .slick-slider .slide img {
    height: 27rem;
    width: 44rem;
  }
}

@media (max-width: 768px) {
  .slick-slider {
    max-width: 396px;
  }
  .slick-slider .slide img {
    height: 16rem;
    width: 18rem;
  }
}

@media (max-width: 480px) {
  .slick-slider {
    max-width: 273px;
  }
  .slick-slider .slide img {
    height: 10rem;
    width: 12rem;
  }

  
}
