.prices {
  display: flex;
  justify-content: flex-start;
  gap: 0.4rem;
}

.prices .discount {
  color: #cc0c39 !important;
  font-size: 1.7rem;
  font-weight: 300;
  
}

.prices .final-price {
  font-size: 1.7rem;
}

.prices .list-price {
  font-size: 1rem;
  text-decoration: line-through;
  color: #565959;
  align-self: flex-end;
  padding-bottom: 5px;
}

.list-price__detail {
  font-size: 1rem;
  color: #565959;
}

.list-price__detail .price {
  text-decoration: line-through;
}



