.product-item {
  margin: 1rem 0;
  
}

.product-item__content {
  display: flex;
  filter: brightness(98%);
}

.product-item__info {
  padding: 1rem;
}

.product-item__info .title {
  font-weight: 500;
  height: 6.8rem;
  overflow: hidden;
}

.product-item__image {
  width: 25rem;
  height: 20rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.product-item__image img {
  width: 25rem;
  height: 100%;
  /* background-color:#f7f7f7 */
  /* object-fit: cover; */
}


/* .product-item__info .title{
  margin-bottom: 1rem;
} */

.product-item__info a {
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 25px;
  display: block;
  color:#0F1111 
}


.product-item__info a:hover,
.product-item__info a:active
{
  color:rgba(98, 113, 197, 0.976) ;
  cursor: pointer;

}



.product-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.product-item__modal-content {
  padding: 0;
}

.product-item__modal-actions {
  text-align: right;
}

.product-item__actions button,
.product-item__actions a {
  margin: 0.5rem;
}

.map-container {
  height: 15rem;
  width: 100%;
}

@media (max-width: 800px) {
  .product-item__image {
    display: flex;
    width: 100%;
    justify-content: center;
  } 
  .product-item__image img {
    width: 20rem;
    height: 90%;
    /* background-color:#f7f7f7 */
    /* object-fit: cover; */
  }

  .product-item__content{
    display: block;
  }

  .container__rating-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 480px) {
  

  .product-item__image {
    
    /* width: 90%; */
    
  } 
}


