.store-product-list {
  list-style: none;
  margin: 10rem auto;
  padding: 0;
  width: 90%;
  max-width: 75rem;
  padding-bottom: 5rem;
}


@media (max-width: 800px) {
  .store-product-list{
    width: 75%;



  }


}
 
