.product-detail__actions {
  margin-bottom: 10px;
}

.product-detail__actions button {
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
}

/* .product-detail__actions button:hover,
.product-detail__actions button:active {
  background-color: #e8c202;
  border: 2px solid #e4c62ed4;
  
}

.product-detail__actions button:disabled {
 
  cursor: auto;
  background-color: #ffec8f;
  border: 2px solid #ffec8f;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;

}  */
