/* 
- FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/



main {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../public/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background: linear-gradient(to right, #9eacff9c, #cce9bf9c); */
}

.main-box {
  margin: 0 auto;
  max-width: 2550px;
  width: 100%;
  min-height: 100vh;
  max-width: 1600px;
}
