@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins","Roboto", sans-serif;
 
  height: 100%;

  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  /* font-size: 62.5%; */
}

body {
  margin: 0;
  height: 100%;
  /* background-color: #fafafa; */
}

#root{
  height: 100%;
  display: grid;
}


.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}


.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-large {
  font-size: 1.6rem;
  line-height: 32px;
}

.size-base {
  font-size: 16px;
  line-height: 22px;
}

.size-base-plus {
  font-size: 18px;
  line-height: 40px;
}

.size-small {
  font-size: 14px;
}

.text-bold {
  font-weight: 700;
}

hr {
  background-color: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top: 1px solid #adb5bd;
  display: block;
  height: 1px;
  line-height: 19px;
  margin-bottom: 14px;
  margin-top: 0;
}

.error{
  font-size: 1.6rem;
  text-align: center;
}


@media (min-width:1150px){
  html {
    /* 14px / 16px = 0.5625 = 56.25% */
    font-size: 87.5%;
  }

}

@media (max-width:1150px){
  html {
    /* 9px / 16px = 0.5625 = 56.25% */
    font-size: 85.5%;
  }

}

@media (max-width: 480px) {
  html {
    /* 9px / 16px = 0.5625 = 56.25% */
    font-size: 80.5%;
  }
}
