/* .page-footer {
  margin-top: auto;
  width: 100%;
  padding: 100px 0;
  background: #212529;
  color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;
  justify-content: baseline;
  padding-bottom: 0px;
}

.page-footer .container-1 {
  display: flex;
  padding: 0 15%;
  gap: 2rem;
}

.page-footer .container-2 {
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 25px;
  padding-left: 15%;
  padding-right: 15%;
  border-top: 1px #ccc solid;
  color: #ccc;
  background-color: #191c1f;
}

.page-footer .container-1 div {
  text-align: center;
}

.page-footer .container-1 div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #ccc;
}

.page-footer .container-1 .col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

.page-footer .container-1 .col-1 a:hover,
.page-footer .container-1 .col-1 a:active {
  color: rgb(185, 196, 251);
}

.page-footer .container-1 .col-2 {
  flex-grow: 2;
}

.page-footer .container-1 form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

.page-footer .container-1 form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.page-footer .container-1 form button:hover,
.page-footer .container-1 form button:active {
  color: rgb(185, 196, 251);
  border-color: rgb(185, 196, 251);
}

.page-footer .container-1 .social-icons {
  margin-top: 30px;
}

.page-footer .container-1 .social-icons svg {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
  color: #efefef;
}

.page-footer .container-1 .social-icons svg:hover,
.page-footer .container-1 .social-icons svg:active {
  color: rgb(185, 196, 251);
}

@media (max-width: 1120px) {
  .page-footer .container-1 form input {
    width: 270px;
  }
}

@media (max-width: 940px) {
  .container-1 {
    flex-direction: column;
  }
  .page-footer .container-1 div h3 {
    margin-bottom: 10px;
    letter-spacing: 1px;
  }

  .page-footer .container-1 form input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 270px;
  }
} */

.main-wrap {
  width: 100%;
  background: #fff;
  margin-top: auto;
}
.footer-wrap {
  width: 100%;
  padding: 40px;
  background: #212529;
}
.footer-wrap-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footer-section {
  text-align: center;
  width: 35%;
  display: block;
  padding: 10px 35px;
}

.footer-section p {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}
.footer-section h1 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 3rem;
  color: #fff;
  margin-bottom: 10px;
}
.footer-section a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 4px 0px;
}

.footer-wrap .line {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background: rgb(143, 142, 142);
}
.social-link {
  padding-top: 25px;
  text-align: center;
}
.social-link a {
  text-decoration: none;
  height: 26px;
  display: inline-block;
  width: 26px;
  padding: 5px;
  border-radius: 20px;
  margin: 5px;
  background: rgb(224, 222, 222);
}

.social-link a:hover,
.social-link a:active {
  background: rgb(185, 196, 251);
}

.social-link a img {
  width: 14px;
  height: 14px;
}

.footer-bottom {
  background: rgb(12, 12, 12);
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.footer-bottom a,
.footer-bottom span {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.footer-bottom a:hover,
.footer-bottom a:active {
  color: rgb(185, 196, 251);
}

.first-box {
  margin-left: 20px;
  display: flex;
  gap: 20px;
}
.last-box {
  margin-right: 20px;
}

@media (max-width: 1120px) {
  .footer-section {
    width: 400px;
  }
}

@media (max-width: 780px) {
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .first-box {
    margin-left: 0;
  }
  .last-box {
    margin-right: 0;
  }
}
