.cart-products {
  width: 90%;
  margin: 2rem auto;
  border-radius: 15px;
  /* border:1px solid #212529; */
  box-shadow: 0 4px 5px -2px gray;
}

.cart-products .header {
  text-align: center;
  border: 5px solid #212529;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: #212529;
  color: white;
  font-weight: 500;
  font-size: 32px;
}

.cart-products .product-list {
  list-style: none;
  padding: 0;
}
