.cart-products {
  max-width: 58rem;
  margin: 10rem auto;
  border-radius: 15px;
  box-shadow: 0 4px 5px -2px gray;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(2px) saturate(180%);
}

.cart-products .header {
  text-align: center;
  border: 5px solid #212529;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 10px 0;
  background-color: #212529;
  color: white;
  font-weight: 500;
  font-size: 1.7rem;
}

.cart-products .cart-summary {
  font-weight: 400;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-products .cart-summary .price {
  font-weight: 600;
}

@media (max-width: 480px) {
  .cart-summary {
    flex-direction: column;
    gap: 1rem;
  }
}
