.cart-button {
  cursor: pointer;
  font: inherit;
  border: none;
  color: white;
  /* padding: 0.75rem 3rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  position: relative;
}

.button:hover,
.button:active {
 
}

.icon {
  width: 1.7rem;
  height: 2rem;
  margin-right: 0rem;
}

.badge {
  /* background-color: #f08804;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold; */
  background-color: rgb(77, 91, 179);
  
  border-radius: 25px;
  padding: 0px 5px;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top:2px;
  left:14px;

}

.cart-button:hover .badge,
.cart-button:active .badge {
  /* background-color: #f08804; */
}

.bump {
  animation: bump 400ms ease-out;
}

.move-badge__left{
  left:10px;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
