
.dropdown {
  position: absolute;
  top: 65px;
  width: 340px;
  transform: translateX(-35%);
  background-color: #2e343a;
  /* border: #474a4d; */
  border-radius: 8px;
  /* overflow: hidden; */
  transition: height 500ms ease;
  text-align: left;
  color: white;
  font-weight: 500;
}

.dropdown h3 {
  font-weight: 500;
}

.dropdown .arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #2e343a;

  position: absolute;
  top: -9px;
  left: 208px;
  color: #474a4d;
}

.dropdown ul {
  list-style: none;
  padding: 1rem;
  padding-bottom: 0.5rem;
}

.dropdown ul li {
  list-style: none;
  margin-top: 0.5rem;
  margin-left: 1rem;
  text-align: right;
}

.dropdown ul li:first-child {
  margin-top: 0px;
}

.dropdown ul li button {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0px;
  padding: 0;
}

.dropdown ul li button:hover,
.dropdown ul li button:active {
  border-color: white;
}

.profile {
  display: flex;
}

.profile hr {
  margin: 0;
  border-top: 2px solid #cacaca;
}

.profile img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.profile .detail {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

@media (max-width: 768px) {
  .dropdown {
    top: 19px;
    left: 165px;
    width: 150px;
  }
  
  .dropdown .arrow {
    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #2e343a;

    top: 23px;
    left: -22px;
    color: #474a4d;
  }

  .profile {
    justify-content: center;
  }

  .profile .detail {
    display: none;
  }

  .profile img {
    margin: 0;
  }

  .dropdown ul li {
    text-align: center;
    margin-left: 0;
  }

  .dropdown ul li button {
    color: white;
  }
}
