.profile {
  max-width: 100rem;
  width: fit-content;
  padding-bottom: 8px;
  border-radius: 15px;
  margin: 30px auto;
  box-shadow: 0 4px 5px -2px gray;
  margin-top: 10rem;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(2px) saturate(180%);
  color: #333;
  font-size: 1.1rem;
}

.profile h1 {
  font-size: 1.8rem;
}
.profile h2 {
  font-size: 1.4rem;
}

.profile header {
  text-align: center;
  border: 5px solid #212529;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 10px 0;
  background-color: #212529;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  height: 5rem;
}

.profile-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.profile-container .account-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-weight: 600;
}

.account-details img {
  border-radius: 50%;
  max-width: 10rem;
  max-height: 10rem;
}

.account-details .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.account-details label,
.account-details input {
  margin-right: auto;
}

.account-details label {
  font-weight: bold;
}

.account-details input {
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;

  border-radius: 6px;
  padding: 0.35rem;
}

.account-details .logout-btn {
  margin-top: auto;
  padding: 0.7rem 5rem;
}

.profile-container .orders {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  max-height: 43rem;
  overflow-y: auto;
  color: #434242;
}

.profile-container .orders .order {
  background-color: white;
  border-radius: 25px;
  border: 2px solid #748ffc;
  padding: 2rem 2rem;
}

.profile-container .orders .order .date {
  font-size: 1rem;
}

.profile-container .orders .order-details {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 0.5rem 1rem;
}

.profile-container .orders .order-title {
  font-weight: 600;
  height: 1.9rem;
  overflow: hidden;
  align-self: end;
}
.profile-container .orders .order-price {
  align-self: start;
}

.profile-container .orders img {
  width: 100%;
  height: 6rem;
  object-fit: cover;
  grid-row: 1/-3;
}

@media (max-width: 1000px) {
  .profile-container {
    flex-direction: column;
  }

  .profile-container .orders {
    padding: 0;
  }

  .profile-container .orders .order-details {
    grid-template-columns: 1fr 5fr;
  }

  .profile-container .account-details .logout-btn{
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .profile-container .orders .order-details {
    grid-template-columns: 1fr 2fr;
  }
}
