.home__container {
  margin-top: 5rem ;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 5rem 2rem;
}

.home__mainTextContainer {
  color:#fff;
  width: 40%;
}

.home-container__buttons {
  display: flex;
  gap: 5px;
}

.home-container__buttons a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.1rem;
  padding: 0.7rem 1.2rem;
}

.home-container__buttons .source-button {
  background-color: #2e343a;
  transition: all 0.3s ease-in-out;
}

.home-container__buttons .source-button:hover,
.home-container__buttons .source-button:active {
  background-color: #2e343acb;
}

.home__mainTextContainer h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.home__mainTextContainer p {
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.category-images {
  width: 60%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3rem;
}

.category-images .card__container {
  background-color: #2e343a;
  color: white;
  transition: all 0.4s ease;
  border-radius: 10px;
  height: 18rem;
  box-shadow: 0 7px 29px 0 rgba(99, 99, 110, 0.1);
  font-size: 1.7rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.category-images .card__container:active,
.category-images .card__container:hover {
  transform: scale(1.1);
}

.category-images .image-container {
  border-radius: 5px 5px 40% 0;
  height: 70%;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.category-images .card__container:hover .image-container {
  border-radius: 5px 5px 0 0;
}

.category-images .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-images .card__container figcaption {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



@media (max-width: 1300px) {
  .category-images .card__container {
    height: 16rem;
    font-size: 24px;
  }
}

@media (max-width: 1150px) {
  .home__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
    margin-top: 3rem;
  }

  .home-container__buttons{
    justify-content: center;
  }

  .home__mainTextContainer {
    align-items: center;
    width: auto;
  }
  
  .category-images {
    width: 85%;
    gap: 25px;
  }

  .category-images .card__container {
    height: 17rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .category-images {
    /* grid-template-columns: repeat(auto-fit, minmax(220px, 220px)); */
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
  }

  .home__mainTextContainer h1 {
    font-size: 2.5rem;
    margin-top: 0rem;
  }
  .category-images .card__container {
    height: 15rem;
  }
}

@media (max-width: 480px) {
  .category-images {
    
    width: 100%;
  }

  .category-images .card__container {
    height: 14rem;
    font-size: 1.5rem;

  }
}
