.section-store{
  margin: 10rem auto;
  /* width: 100%; */
  /* max-width: 200rem; */
  margin-bottom: 15rem;
}

.store-container{
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  gap:3.2rem

}


.products-not__found {
  margin-top: 5rem;
  font-weight: 500;
  color:#fff;
}

@media (max-width: 800px) {
  .section-store {
    width: 75%;
  }

  .product-item__image {
    display: flex;
    justify-content: center;
  }

  .product-item__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container__rating-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-item__image{
    width:100%;
  }
  .product-item__info{
    width:100%;
  }
}


@media (max-width: 480px) {
  .product-item__content {
    padding: 1rem 1rem;
  }
  .product-item__info .title{
    height: 7.7rem;
  }
}
